#cmake output files
cmake_cgal.txt
cmake_install.cmake
make_cgal.txt
CMakeLists.txt
stderror.txt
Makefile

#Intermediate building files
build/*
build_lib/*
src*~
__pycache__/

#output files
example/*.off
example/*.vert
example/*.face
example/*.txt
example/*.xyz
example/*.ply

#Libraries
cgal-*/
cmake-*/
oneapi-*/
*.tar.gz
*.tgz
